
// nav {

//     text-align: center;

//     width: 100%;

//     background-color: rgb(163, 158, 158);
//     display: flex;




// }

// nav ul li {

//     display: inline-block;



// }

// nav ul li:hover {


//     /* color: blue; */
//     list-style-type: style type auto;
   
//     cursor: pointer;
//     text-decoration: underline;
// }
